*, *::before, *::after { box-sizing:border-box; }

body {
    margin: 0;
    padding: 0;
    /*min-height: 100vh;*/

    background-color: #19191A;
    color: #efefef;
    font-family: sans-serif;
    font-size: 1.2em;
}

a {
    color: #5DB7FC;
}

a:visited {
    color: #5DB7FC;
}

#main {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: normal;
}

#main ul, ol {
    margin-top: 10px;
    margin-bottom: 10px;
}
